.dashboard {
   height: 100vh;

   background-color: #fafafa;
}

.dashboard_menu {
   padding: 1%;
   background-color: rgb(65, 61, 75);
}

.dashboard_menu button {
   background-color: #319795;
   color: #ffffff;
}

.dashboard_menu button:hover {
   background-color: #267977;
   color: #ffffff;
}

.myitems {
   display: flex;
   width: 85vw;
   flex-wrap: wrap;
}
